@import url(reset.css);
@import url(normalize.css);
@import url(common.css);

.main_top{
    padding-top: 209px;
    padding-bottom: 99px;
    position: relative;
    z-index: 999;
    height: 100vh;
}

.main_top::after{
    content:"";
    width: 50%;
    background: #1f88e6;
    height: 99vh;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 0 0 100px;
    z-index: -1;
}



.top_title{
    font-size: 2em;
    line-height: 140%;
    letter-spacing: -.025em;
    color: #333;
   
}
.title_point{
    background: #1f88e6;
    color: #fff;
    padding: 0 0.63rem;
}

.main_top h2{
    margin-top: 0.94rem;
}
.cars{
    width: 908px;
    position: absolute;
    right: 17%;
    top: 30%;
}

/* section02 */

.section02{
    background-color: #444;
    padding: 9.75em 0 11.06em 0;

}

.section02 .d-flex{
    gap: 0 31px;
}

.section02__title{
    text-align: center;
    margin: 156px 148px;
}
.section02__title h2{
    color: #fff;
}

.content_bg{
    background-color: #fff;
    padding: 36px 30px 72px 30px;
    border-radius: 15px;
}

.section02__icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section02__icon img{
    width:3.81em;
    
}

.section02__text h3{
   font-size: 32px;
}
.section02__text p{
   font-size: 24px;
}
.section02__text .text-center h3{
    font-size: 2em;
}
.section02__text .text-center p{
    font-size: 1.5em;
    line-height: 140%;
    letter-spacing: -2.5%;
    text-align: text-center;
}

/* media(미디어쿼리-반응형구간) */


@media(max-width:1280px){
    .cars{
        width: 707px;
        position: absolute;
        right: 15%;
    }
    .main_top_title{
            padding-left: 50px;
        }
}

@media(max-width:1024px){
    .cars{
        width: 503px;
        right: 10%;
    }
    .main_top::after{
        width: 46%;
    }
    .top_title{
        font-size: 26px;
    }
    .main_top h2{
        font-size: 52px;
    }
    
}

@media(max-width:768px){
    .coulmn-reverse{
        flex-direction: column-reverse;
    }
    .over-f{
        overflow:hidden;
    }
    .cars{
        width: 80%;
        position: relative;
        left: 10%;

    }
    .main_top::after{
        width: 0%;
    }
    .main_top_title{
        padding-top: 50px;
        text-align: center;
    }
}

@media(max-width:540px){

}
@media(max-width:348px){

}
